.home-container {
  padding: 50px 0;
  text-align: center;
  background-color: #202833;
  color: #66fcf2;
}

.h2-home {
  margin: 0;
}

.h1-home {
  margin-top: 0;
}

.buttons-container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  height: 20px;
  margin-bottom: 15px;
  &:hover {
    color: #66fcf2;
  }
}

a {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #66fcf2;
  }
}
