.movie-details {
  display: flex;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #202833;
}

.text {
  margin-left: 50px;
  color: aliceblue;
  margin-top: 20px;
}

h1 {
  color: #66fcf2;
}

.buttons-container {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.back-button {
  margin: 15px 0 0 40px;
}
